name: Build, scan and push

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

env:
  REGISTRY: quay.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-scan-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Set image variables
        run: |
          echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV
          echo "FULL_IMAGE=${REGISTRY}/${IMAGE_NAME}:${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build image
        run: |
          docker build -t "$FULL_IMAGE" .

      - name: Scan with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.FULL_IMAGE }}
          severity: 'HIGH,CRITICAL'
          format: 'table'
          exit-code: '1'

      - name: Push image
        if: success()
        run: |
          docker push "$FULL_IMAGE"
